.llegada{
    float:right;
    background-color: blue;
    color:white;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    margin-top:10px;
}
.enviado{
    clear:both;
    float:left;
border-radius: 10px;
padding-right: 10px;
padding-left: 10px;
background:lightgray; 
margin-bottom:5px;

}