<div #contenedor style="height:80vh;width:100%;border-color: black;border-style: solid;border-radius: 10px;overflow-y: scroll;">
<ng-container *ngIf="mensajesService.personaSeleccionada">
    <ng-container *ngFor="let mensajes of mensajesService.personaSeleccionada.Mensajes">
        <div style="width: 100%">
                <div [ngClass]="{'llegada':mensajes.tipo==='llegada','enviado':mensajes.tipo==='enviado'}">
                        {{mensajes.texto}}
                </div>
            <br />
        </div>    
    </ng-container >
        
</ng-container>
    
</div>
<input #mensajeAenviar style="width:90vh"/>
<button style="width:10vh" (click)="EnviarMensaje(mensajeAenviar,contenedor)">enviar</button>
<button>Terminar Conversacion</button>